.header__page {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  align-items: center;
}

.header__title__primary {
  color: var(--color-neutral-veryDarkBlue);
}

.header__title__secundary {
  margin: 0 auto;
  font-size: 1.88rem;
  font-weight: var(--fontWeight-extraLight);
  color: var(--color-neutral-veryDarkBlue);
  text-align: center;
}

.header__text {
  width: 80%;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .header__page {
    width: 95%;
    max-width: 310px;
  }

  .header__title__primary {
    font-size: 1.5rem;
  }

  .header__title__secundary {
    font-size: 1.55rem;
  }

  .header__text {
    width: 100%;
  }
}
