:root {
  --color-primary-red: hsl(0, 78%, 62%);
  --color-primary-cyan: hsl(180, 62%, 55%);
  --color-primary-orange: hsl(34, 97%, 64%);
  --color-primary-blue: hsl(212, 86%, 64%);

  --color-neutral-veryDarkBlue: hsl(234, 12%, 34%);
  --color-neutral-grayishBlue: hsl(229, 6%, 66%);
  --color-neutral-veryLightGray: hsl(0, 0%, 98%);

  --fontSize-body: 15px;

  --fontFamily-poppins: "poppins", sans-serif;

  --fontWeight-extraLight: 200;
  --fontWeight-regular: 400;
  --fontWeight-semiBold: 600;
}
